
div.slideshow_model {
    display: none;
}

ul.preview_container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.preview_container li, .preview_style {
    margin: 3px;
    padding: 3px;
    float: left;
    width: 170px;
    height: 160px;
    line-height: 160px;
    font-size: 1.4em;
    text-align: center;
    cursor: pointer;
}

ul.preview_container li img {
    vertical-align: middle;
}

.preview.ui-sortable-helper {
    opacity: 0.5;
    background-color: #a7cdf0;
}

.preview {
    vertical-align: top;
    overflow: hidden;
}

.ui-state-active .preview_content {
    font-weight: normal;
}

.field_preview {
    position: relative;
    padding: 10px 10px 10px 20px;
    margin: 10px 0 10px;
}
.field_preview:first-child {
    margin-top: 0;
}

.slides_container p.actions {
    text-align: left;
    position: relative;
    height: 40px;
    padding: 0;
    margin: 0;
}
.slides_container button.action {
    width: 49%;
}

.preview_arrow {
    position: absolute;
    top: 44px;
    left: -35px;
}

.preview {
    position: relative;
}
.preview.ui-sortable-helper {
    padding: 0;
}

.preview .handle {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    width: 10px;
    cursor: move;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Keep parent border for .ui-state-active *//*
    border-top: 0;
    border-left: 0;
    border-bottom: 0;*/
}

.preview .preview_content {
    margin-left: 10px; /* .handle width */
}

.preview .handle img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0px 0px -2px;
}



.tinymce_button {
    background: #eee;
    border: 1px solid #ccc;
    color: #000;
    display: inline-block;
    padding: 2px 4px 0;
}
.tinymce_button img {
    vertical-align: middle;
}
